<div id='header'></div>

<div id='search'>
  <form action='/search' method='get'>
    <div id='form-line-1'>
      <input id='item' type='text' name='item' placeholder='Search...'>
      <input id='price' type='text' name='retailPrice' placeholder='Retail Price'>
    </div>

    <div id='form-line-2'>
      <div id='listing-type'>
        <input type='radio'name='auctionType' value='All' checked>All
        <input type='radio'name='auctionType' value='Auction' checked>Auction
        <input type='radio'name='auctionType' value='FixedPrice' checked>Buy It Now
      </div>

      <div id='complete-listing'>
        <input id='checkbox' type='checkbox' name='completed' value='true'>Completed
      </div>
    </div>

    <div id='form-line-3'>
      <button type='submit' id='submit'>Search</button>
    </div>
  </form>
</div>

<div id='results'></div>