<div id='header'></div>

<div id='search'>
  <form action='/search' method='get'>
    <input id='item' type='text' name='item' placeholder='Search...'>
    <div id='completed'>
      <input id='checkbox' type='checkbox' name='completed' value='true' checked>
      Completed
    </div>
    <button type='submit' id='submit'>Search</button>
  </form>
</div>

<div id='results'></div>